.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .topLink,
  .topLink:link,
  .topLink:visited,
  .topLink:focus,
  .topLink:hover,
  .topLink:active {
    text-decoration: overline underline;
    color: rgb(29, 36, 29);
    text-shadow: 1px 0 1px black;
    font-size: 2em;
    margin: 20px 0 30px;
  }

  hr {
    color: green;
    width: 100vh;
  }

  footer {
    margin-top: 100px;
  }
}
