.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(139, 154, 244, 0.51);

  .topLink,
  .topLink:link,
  .topLink:visited,
  .topLink:focus,
  .topLink:hover,
  .topLink:active {
    text-decoration: overline underline;
    color: rgb(29, 36, 29);
    text-shadow: 1px 0 1px black;
    font-size: 2em;
    margin: 15px 0;
  }
}
