.BrowseLetter {
  list-style: none;
  width: 100%;
  margin: 20px 0;
}

.word {
  text-decoration: underline;
  color: black;
}

.wordList {
  margin: 20px;
  width: 90%;
  padding: 20px;
}

.selectedLetter {
  color: rgb(226, 88, 20);
}

.noResults {
  display: flex;
  flex-direction: column;
}
