.LetterBar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;

  li {
    margin: 3px;
  }
}

.letterLinks {
  text-decoration: none;
  color: rgb(13, 6, 4);
}

.letterLinks:hover,
.active {
  color: rgb(226, 88, 20);
}
