.LetterBar {
  list-style: none;
  display: flex;
  justify-content: space-between;

  li {
    margin: 3px;
  }
}

.letterLinks {
  text-decoration: none;
  color: rgb(13, 6, 4);
}

.letterLinks:hover {
  color: rgb(189, 169, 40);
}

.letterLinks:active {
  color: rgb(218, 148, 44);
}
