.ShowSearch {
  list-style: none;
  width: 100%;
}

.searchLinks {
  text-decoration: none;
  color: inherit;
  margin: 10px;
}

.searchLinks:hover {
  color: rgb(210, 136, 48);
}

.noResults {
  display: flex;
  flex-direction: column;
}
